@import './common.css';

#login-page{

}

.form-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-details > * {
    margin-bottom: 10px;
}

.form-details > button {
    margin-top: 10px;
    font-size: 16px;
    border: none;
    border-radius: 2px;
    padding: 10px 15px 10px;
    cursor: pointer;
}

.form-details > button:hover {
    animation: btn-hover 0.25s ease-out forwards;
}

input {
    border-radius: 5px;
    padding: 10px;
    width: 200px;
}



@keyframes btn-hover {
    to {
        background-color: var(--primary-color);
    }
}